@import url("https://rotyflo.github.io/css/terminal.css");

img {
  height: 50px;
  width: 50px;
  margin-top: 2px;
  border: solid black 1px;
  border-radius: 15%;
}

#search, #error {
  margin-bottom: 30px;
}