body, html {
  text-align:   center;
  margin:       0;
  padding:      0;
  font-family:  Arial, Helvetica, sans-serif;
  background-color: #E1BEE7;
}

#title {
  background-color: #9C27B0;
  color:            white;
  padding:            4px 0;
  margin:             0;
}

#app {
  column-width: 300px;
  column-gap: 0;
}

.card {
  display: block;
  text-align:       left;
  color:          #212121;
  text-decoration:  none;
  background-color: #fff;
  border:          1px solid #BDBDBD;
  padding: 16px;
}

/* PREVENT '.card' CONTENT BREAKING ACROSS COLUMNS */
.card > div {
  display: inline-block;
}

/*  STREAMER STATUS */
.online   { color: #4caf50; }
.offline  { color: #f44336; }